{% load static %}
<!DOCTYPE html>
<html lang="ko-KR">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{title}}</title>
  <link rel="stylesheet" href="{% static 'css/common.css' %}?1">
  <link rel="stylesheet" href="{% static 'css/table.css' %}">
  <link rel="stylesheet" href="{% static 'css/write.css' %}">
  <link rel="stylesheet" href="{% static 'css/list.css' %}">
  <link rel="stylesheet" href="{% static 'css/view.css' %}">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

<body>
  <!-- header -->
  <div class="header">
    <h1><a href="{% url "blog" %}">Blog</a></h1>
    <div class="header-click">
      {% if user.is_authenticated %}
      <a href="{% url "profile" user.id %}">정보수정</a>
      <a href="{% url "logout" %}">로그아웃</a>
      {{user.get_image_tag}}
      {% else %}
      <a href="{% url "login" %}">로그인</a>
      <a href="{% url "signup" %}">회원가입</a>
      {% endif %}
    </div>
  </div>
  <!-- // header -->
  {% block 'contents' %}
  {% endblock 'contents' %}
  
  <!-- footer -->
  <p class="footer">Copyright 2023. Chilli All rights reserved.</p>
  <!-- //footer -->
</body>

</html>