{% if comments %}
  {% for comment in comments %}
    {% if not comment.comment_reply %}
    <!-- Single Comment -->
    <div class="media mb-4" id="comment_id_{{ comment.id }}">
      <div class="media-body">
        <h5>{{comment.user.get_image_tag}}<a class="btn btn-outline-success m-2" href="{{post.get_absolute_url}}?comment={{comment.id}}">Reply</a></h5>
        <h5 class="mt-0">{{comment.user}}</h5>
        <h5 class="mt-0">{{comment.created_at}}</h5>
        <h5 class="mt-0 bg-light text-body">{{comment.content}}</h5>
        
        {% for reply in comment.replies.all %}
          <div class="ms-4">
          {% include 'blog/recursive_comment.html' with comment=reply %}
          </div>
        {% endfor %}
      
      </div>
      {% if comment_id == comment.id %}
      <div class="card my-4">
        <h5 class="card-header">댓글</h5>
        <div class="card-body">
          <form method="POST">
            {% csrf_token %}
            <div class="form-group mb-3">{{ comment_reply_form }}</div>
            <button type="submit" class="btn btn-primary">작성</button>
          </form>
        </div>
      </div>
      {% endif %}
    </div>
    {% endif %}
  {% endfor %}
{% endif %}