{% extends "blog/base.html" %}
{% load static %}
{% load bootstrap_icons %}
{% block stylesheet %}
  <link rel="stylesheet" href="{% static 'css/view.css' %}">
{% endblock %}
{% block 'contents' %}



  <div class="main">


    <h2 class="main-title">글 조회</h2>


    <div class="view">
      <div class="view-header">
        <h2><p>{{post.title}}</p></h2>
        <div class="view-info">
          <p>작성자: {{post.user}}</p>|
          <p>작성일: {{post.created_at}}</p>|
          <p>조회수: {{post.hits}}</p>
        </div>
        {% if post.file_upload %}
        <div>
          <a href="{{ post.file_upload.url }}" download>{% bs_icon 'folder' %}{{ post.file_upload }}</a>
        </div>
        {% endif %}
      </div>
      <div class="view-content">
        {% if post.image_upload %}
        <img class="card-img-top overflow-hidden" src="{{post.image_upload.url}}" alt="">
        {% endif %}

        <div id="viewer">{{form.content}}</div>
      </div>
      <!-- Comments Form -->
      <div class="card my-4">
        <h5 class="card-header">댓글</h5>
        <div class="card-body">
            <form method="POST">
              {% csrf_token %}
              <div class="form-group mb-3">{{ comment_form }}</div>
              <button type="submit" class="btn btn-primary">작성</button>
            </form>
        </div>
      </div>

      {% include "blog/comment_form.html" %}
    </div>
    <div class="btn-group">
      <a href="{% url "blog" %}" class="btn btn-outline-secondary p-2 me-2">목록</a>
      <a href="{% url "update" post.id %}" class="btn btn-outline-success p-2 me-2">수정</a>
      <a href="{% url "delete" post.id %}" class="btn btn-outline-danger p-2 me-2">삭제</a>
    </div>

  </div>
{% endblock 'contents' %}