{% load static %}
<!DOCTYPE html>
<html lang="ko-KR">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{title}}</title>
  <link rel="stylesheet" href="{% static 'css/common.css' %}">
  <link rel="stylesheet" href="{% static 'css/login-join.css' %}">
</head>

<body>
  <!-- header -->
  <div class="header">
    <h1><a href="index.html">HTML/CSS 실습</a></h1>
    <div class="header-click">
      <a href="{% url "chat" %}">채팅</a>
      <a href="{% url "login" %}">로그인</a>
      <a href="{% url "signup" %}">회원가입</a>
      <a href="{% url "logout" %}">로그아웃</a>
    </div>
  </div>
  <!-- // header -->
  {% block 'contents' %}
  {% endblock 'contents' %}
  
  <!-- footer -->
  <p class="footer">Copyright 2023. Chilli All rights reserved.</p>
  <!-- //footer -->
</body>

</html>